Park_DACE/Connected Services/ServiceSpotSensor/ServiceSpotSensor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceSpotSensor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://bot-spotsensors.apphb.com/ServiceSpotSensor.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://bot-spotsensors.apphb.com/ServiceSpotSensor.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://bot-spotsensors.apphb.com/ServiceSpotSensor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BOT_SpotSensors" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceSpotSensor_GetAllSpotsData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSpotsData" />
  </wsdl:message>
  <wsdl:message name="IServiceSpotSensor_GetAllSpotsData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSpotsDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSpotSensor_GetAllSpotsIDataXml_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSpotsIDataXml" />
  </wsdl:message>
  <wsdl:message name="IServiceSpotSensor_GetAllSpotsIDataXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSpotsIDataXmlResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceSpotSensor">
    <wsdl:operation name="GetAllSpotsData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSpotSensor/GetAllSpotsData" message="tns:IServiceSpotSensor_GetAllSpotsData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSpotSensor/GetAllSpotsDataResponse" message="tns:IServiceSpotSensor_GetAllSpotsData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSpotsIDataXml">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSpotSensor/GetAllSpotsIDataXml" message="tns:IServiceSpotSensor_GetAllSpotsIDataXml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSpotSensor/GetAllSpotsIDataXmlResponse" message="tns:IServiceSpotSensor_GetAllSpotsIDataXml_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceSpotSensor" type="tns:IServiceSpotSensor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllSpotsData">
      <soap:operation soapAction="http://tempuri.org/IServiceSpotSensor/GetAllSpotsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSpotsIDataXml">
      <soap:operation soapAction="http://tempuri.org/IServiceSpotSensor/GetAllSpotsIDataXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceSpotSensor">
    <wsdl:port name="BasicHttpBinding_IServiceSpotSensor" binding="tns:BasicHttpBinding_IServiceSpotSensor">
      <soap:address location="http://bot-spotsensors.apphb.com/ServiceSpotSensor.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>