Park_DACE/Connected Services/ServiceSpotSensor/ServiceSpotSensor2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BOT_SpotSensors" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BOT_SpotSensors" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSpot">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Spot" nillable="true" type="tns:Spot" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpot" nillable="true" type="tns:ArrayOfSpot" />
  <xs:complexType name="Spot">
    <xs:sequence>
      <xs:element minOccurs="0" name="BatteryStatus" type="xs:int" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:Status" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Spot" nillable="true" type="tns:Spot" />
  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Value" type="tns:ValueType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
  <xs:simpleType name="ValueType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FREE" />
      <xs:enumeration value="OCCUPIED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ValueType" nillable="true" type="tns:ValueType" />
</xs:schema>